.navbar {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  width: 100vw;
  margin-top: 60px;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiSelect-icon {
  color: white !important;
}

/**
sx={{
        width: "100vw",
        heigh: "60px",
        position: "fixed",
        top: "0",
        zIndex: 10,
        backgroundColor: theme.palette.primary.dark,
      }}
*/
